[workspace]
members = [ "./crates/*", "./external/unity-native-plugin-rs/Cargo.toml"]
resolver = "2"

[workspace.dependencies]
objc2 = { version = "0.6.1", features = ["catch-all"] }
bincode = { version = "2.0.1", features = ["derive"] }
anyhow = { version = "1.0.98", features = ["backtrace", "std"] }
unienc_common = { path = "./crates/unienc_common" }
unienc_android_mc = { path = "./crates/unienc_android_mc" }
unienc_windows_mf = { path = "./crates/unienc_windows_mf" }
unienc_apple_vt = { path = "./crates/unienc_apple_vt" }
unienc_ffmpeg = { path = "./crates/unienc_ffmpeg" }

[patch.crates-io]
unity-native-plugin = { path = "./external/unity-native-plugin-rs/unity-native-plugin" }
unity-native-plugin-vulkan = { path = "./external/unity-native-plugin-rs/unity-native-plugin-vulkan" }

[workspace.package]
edition = "2021"

[profile.release]
panic = "abort" # It helps making crash stacktraces readable
